<!-- <div class="container">
  <div class="row">
   
    <div class="col-sm-2">
      <button>Student</button>
    </div>

    <div class="col-sm-2">
      <button>Student</button>
    </div>

    <div class="col-sm-2">
      <button>Student</button>
    </div>

    <div class="col-sm-2">
      <button>Student</button>
    </div>

    <div class="col-sm-2">
      <button>Student</button>
    </div>

    <div class="col-sm-2">
      <button>Student</button>
    </div>


  </div>
</div> -->

<!-- <h1>menu</h1> -->